.red{
    color:red;
  }
h1 {
    margin: 0;
    padding: 10px 0 10px 0;
    border: solid 2px #000000;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #ff0000
  }
#container {
    display: flex;
    flex-direction: row;
  }
.sidebar {
    width: 30%;
    margin: 10px 0 10px 0;
  }
.sidebar ul {
    margin: 0px;
    padding: 0 10px 0 10px;
  }
.sidebar li {
    display: block;
    margin: 0px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
    border-right: solid 2px #CCCCCC;
    background-color: #EEEEEE;
  }
.sidebar a {
    color: #444444;
    text-decoration: none;
  }
.content {
    width: 70%;
    margin: 10px 0 10px 0;
  }